body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width:100px;
    height: 100px;
    border-radius: 2px;
    background-color: rgb(194, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

p {
    height:50px;
    opacity:1;
}

input {
    border-radius: 5px;
    padding: 15px;
    box-shadow: none;
    border-style: solid;
}

button {
    padding:15px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    color: black;
}

.row1 {
    background-color: rgb(102, 174, 102);

}